section {
  padding-top: 30px;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.header-link {
  color: #CC0000;
}
.header-icon {
  width: 24px;
  opacity: 0.6;
}
dl dt {
  color: #CC0000;
}
ul {
  list-style-type: none;
}
.footer {
  padding: 10px 10px;
  margin-top: 20px;
  background-color: #f8f9fa;
}
