h4 {
  margin-top: 1.5rem;
}
section {
  padding-top: 1.5rem;
}
.header-link {
  color: #CC0000;
}
.header-icon {
  width: 1.2rem;
  padding-bottom: 0.2rem;
  opacity: 0.6;
}
dl dt {
  color: #CC0000;
}
ul {
  list-style-type: none;
}
pre code {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #f8f9fa;
}
.footer {
  padding: 1.0rem;
  background-color: #f8f9fa;
}
